# This workflow will build an omod file using Maven, create a new release and add the file to the release.

name: Build and Release OMOD File

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'zulu'
        cache: maven
    - name: Get telegram bot token
      run: chmod +x ./telegram_token.sh |
        ./telegram_token.sh "${{ secrets.TELEGRAM_BOT_TOKEN }}"
    - name: Build with Maven
      id: build
      run: mvn -B package --file pom.xml |    
          echo "artifact_path=/home/runner/work/blopup-openmrs-module/blopup-openmrs-module/omod/target/blopup.openmrs.module-"$(yq '.project.version' pom.xml)".omod" >> $GITHUB_OUTPUT
    - name: Create New Release
      id: create_release
      uses: ncipollo/release-action@v1
      with:
        artifacts: ${{ steps.build.outputs.artifact_path }}
